$dark-blue : #219ebc ;
$tan-blue : #023047 ;
$light-orange : #ffb703 ;
$dark-orange : #fb8500 ;
$dm_serif : 'Roboto', sans-serif;
$dm_sans : 'Montserrat', sans-serif;
$Oswald : 'Oswald',sans-serif;

$light-blue : #2F2FA2;
$blue : #242582 ;
$pink : #eceadd;
$orange : #F64C72 ;

body{
    // background-color: #eceadd;
}
nav{
    padding: 0px 135px 0px 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: $light-blue;
    .logo-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        letter-spacing: 2px;
        h1 {
            text-decoration: none;
            color: white;
            font-family: "DM Serif Display";
            font-weight: 900;
            font-size: 30px;
        }
        .logo-img{
            width: 80px;
            height: 80px;
        }
    }
    .nav-tags{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        font-family: $dm_serif ;
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
        
        li{
            list-style: none;
        }
        li:hover {
            animation: wave 0.5s 0s infinite  ;
        }
        a{
            font-family: $dm_serif ;
            color: white;
            text-decoration: none;
        }
        a:hover{
            border-bottom: 2px solid  ;
        }
    }
}
@keyframes wave {
    0%, 100% {
        transform: translate(0, 0);
    }
    25%{
        transform: translateY(-5px);
    }
    75%{
        transform: translateY(-5px);
    }
}
#greet{
    padding: 0px 135px 50px 135px;
    text-align: center;
    text-decoration: none;
    color: $blue ;
    font-weight: 900;
    font-family: $dm_serif;
    background: linear-gradient(to bottom ,$light-blue 0%, $light-blue 100%);
}

.global-sales{
    padding: 0px 135px 50px 135px;
    background: linear-gradient(to bottom ,$light-blue 0%, #193182db 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 150px;
    img{
        width: 400px;
        border-radius: 50px;
        margin-top: 50px;
        // flex-grow: 1;
    }
    >div{
        flex-grow: 2;
        h1 {
            text-decoration: none;
            background-image:  linear-gradient(135deg, #091adb, #c04316);
            background-clip: text;
            color: transparent;
        }
        table {
            border-collapse: collapse;
            border-radius: 30px;
            width: 100%;
            margin-top: 20px;
            tr>#us{
                width: 10px;
                height: 10px;
            }
            th, td {
                border: 1px solid #ddd;
                text-align: left;
                padding: 10px;
            }
            th {
                background-color: #0083d0 ;
            }
            tbody{
                background-color: $pink;
            }
        }
    }
}
.status{
    padding: 50px 135px 80px 135px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom ,#193182db 0%,#0f1735 50%);
    border-radius: 0 0 30px 50px;
    gap: 20px;
    img{
        width: 340px;
        height: 200px;
        border-radius: 20px;
        position: relative;
        top: -15px;
        transition: all 0.3s ease-in;
    }
    img:hover {
        transform: translateY(-15px);
        cursor: pointer;
    }
    div{
        padding: 0px 20px 30px 20px;
        background-color: white;
        border-radius: 10px;
        h3{
            font-family: $dm_serif;
            font-size: 20px;
            margin-bottom: 10px;
            color: $blue;
        }
        hr{
            margin-bottom: 5px;
        }
        p{
            font-family: $dm_serif;
            font-size: 16px;
            color: rgb(49, 46, 46);
        }
    }
}

    // display: flex;
    // flex-direction: row;

    // gap: 50px;
    // .updateForm{
    //     display: flex;
    //     flex-direction: column;
    //     gap: 16px;
    //     padding: 20px;
    //     background-color: $light-blue;
    //     border-radius: 10px;
    //     border: 2px solid black;
    //     width: 400px;
    //     h2{
    //         font-family: $dm_serif;
    //         font-size: 25px;
    //         color: $blue
    //     }
    //     input{
    //         border-radius: 3px;
    //         border: none;
    //         padding: 0px 0px 0px 10px;
    //         height: 28px;
    //     }
    //     >div{
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-around;
    //     }
    //     button{
    //         width: 150px;
    //         height: 30px;
    //         color: white;
    //         border: 1px solid $blue;
    //         border-radius: 10px;
    //         display: inline;
    //         padding: 4px 8px;
    //         cursor: pointer;
    //         background-color: $tan-blue ;
    //         transition: all 0.3s ease-in;
    //     }
    //     button:hover{
    //         cursor: pointer;
    //         transform: scale(1.05);
    //     }
    // }
    .admin-container1{
        margin: 50px 20px 100px 20px;
        background-image:  linear-gradient(135deg, #091adb, #c04316);
        height: 800px;
        padding: 50px ;
        border-radius: 20px;
        .destination-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 100px;
            column-gap: 30px;
            .card{
                background-color: $pink;
                border-radius: 20px;
                height: 280px;
                display: flex;
                flex-direction: column;
                img{
                    border-radius: 20px 20px 0 0;
                    width: 250px;
                    height: 250px;
                }
                .card-body{
                    background-color: $pink;
                    border-radius: 0 0 20px 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px;
                    align-items: center;
                    .details{
                        display: flex;
                        flex-direction: column;
                        gap: 3px;
                        .card-strikethroughprice {
                            text-decoration: line-through;
                            color: red;
                        }
                        .card-offerPrice {
                            color: red;
                        }
                    }
                    .edit-buttons{
                        display: flex ;
                        flex-direction: column ;
                        gap: 10px ;
                        button{
                            color: white;
                            padding: 4px 16px;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        button:hover{
                            cursor: pointer;
                        }
                        .edit{
                            color: red;
                        }
                        .delete{
                            background-color: red;
                            color: white;
                        }
                    }
                }
            }
            
        }
    }
    



    .admin-container2{
        margin: 50px 50px 100px 50px;
        background-image:  linear-gradient(135deg, #091adb, #c04316);
        height: 800px;
        padding: 30px;
        border-radius: 20px;
        .package-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 100px;
            column-gap: 26px;
            .card{
                background-color: $pink;
                border-radius: 20px;
                height: 280px;
                display: flex;
                flex-direction: column;
                img{
                    border-radius: 20px 20px 0 0;
                    width: 250px;
                    height: 250px;
                }
                .card-body{
                    background-color: $pink;
                    border-radius: 0 0 20px 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px;
                    align-items: center;
                    .details{
                        display: flex;
                        flex-direction: column;
                        gap: 3px;
                        .card-strikethroughprice {
                            text-decoration: line-through;
                            color: red;
                        }
                        .card-offerPrice {
                            color: red;
                        }
                    }
                    .edit-buttons{
                        display: flex ;
                        flex-direction: column ;
                        gap: 10px ;
                        button{
                            color: white;
                            padding: 4px 16px;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        button:hover{
                            cursor: pointer;
                        }
                        .edit{
                            color: red;
                        }
                        .delete{
                            background-color: red;
                            color: white;
                        }
                    }
                }
            }
            
        }
    }

    footer{
        height: 280px;
        width: 100%;
        // background: linear-gradient(to bottom , #193282 0%, #0f1734 100%);
        background: linear-gradient(to right , #0e1837 0%,#0a1229 70%, #31213b 100%);
        padding: 100px 135px 0px 135px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        .footer1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            letter-spacing: 2px;
            h1 {
                font-family: $dm_serif ;
                text-decoration: none;
                font-size: 22px;
                font-weight: 700;
                background-image:  linear-gradient(135deg, #091adb, #c04316);
                background-clip: text;
                color: transparent;
            }
            h1:hover{
                background-image:  linear-gradient(135deg, #9f0692 , #c80909);
            }
            ul{
                display: flex;
                flex-direction: row;
                gap: 40px;
                font-size: 16px;
                font-family: $dm_sans ;
                margin-left: 60px;
                li{
                    list-style: none;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: $dm_sans ;
                font-size: 16px;
                color: white;
            }
        }
        .socials{
            display: flex;
            flex-direction: row;
            justify-content: center;
            // align-items: center;
            gap: 20px;
            margin-top: 20px;
            color: white;
            .fa-brands{
                width: 40px;
                height: 40px;
                padding: 17px 25px 10px 10px;
                border: 2px solid white;
                border-radius: 50%;
                text-align:  center;
            }
        }
    
    }
    

////for modal 

/* Style the form container */
.updateForm {
    max-width: 400px;
    margin: auto;
    // padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    input,
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    textarea {
        resize: vertical;
    }
    button {
        background-color: #3498db;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover {
        background-color: #2980b9;
    }
}
.modal-footer{
    button{
        background-color: #1a9ac9;
    }
}

  

  

  
/* Add more specific styles for other fields as needed */
